<div class="container">
    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOMBRES</th>
                        <th>APELLIDOS</th>
                        <th>ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let persona of personas">
                        <td>{{persona.id}}</td>
                        <td>{{persona.name}}</td>
                        <td>{{persona.apellidos}}</td>
                        <td>
                            <div class="col-md-4 text-center">
                                <button (click)="Editar(persona)" class="btn btn-warning">Editar</button>
                            </div>
                            <div class="col-md-4 text-center">
                                <button (click)="Delete(persona)" class="btn btn-danger" style="margin-left: 10px;">Borrar</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>